.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr 1fr;
  grid-template-rows: 0.7fr 1.7fr 0.6fr;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "contenido contenido contenido contenido" 
  "pie-de-pagina pie-de-pagina pie-de-pagina pie-de-pagina";
}

.encabezado {
  display: grid;
  grid-template-columns: 1fr 1.6fr 0.4fr;
  grid-template-rows: 1.4fr 0.6fr;
  grid-template-areas: "titulo titulo logo" "menu-principal menu-principal menu-principal";
  grid-area: encabezado;
  background-color: #6C1273;
  height: 200px;
  width: 100%;
  padding-top: 7px;
}

.logo { grid-area: logo;
        bottom: 0px;
        margin-left: 40px;
         }

.titulo { grid-area: titulo;
          text-align: center;
          font-size: 20px;
          color: black;
          width: 1350px;
         }


.titulo > h1 {
      font-family: "Ink Free";
      font-size: 50px;
      color: white;
}

.menu-principal { grid-area: menu-principal; 
                  background-color: #6C7583;
                  text-align: left;
                  font-size: 15px;
                  bottom: 0px;
                  padding-top: 20px;
                 }

.menu-principal >a {
      font-family: "Ink Free";
      font-weight: bold;
      color:black;
      font-size: 20px;
      margin-left: 28%;

    }



.contenido { grid-area: contenido;
              background-color: #121973;
              width: 100%;
              font-family: "Bookman Old Style";
              text-align: center;
              font-size: 20px;
              
              }


.pie-de-pagina {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-areas: ".tattooideal tattooideal comentarios localizacion " ".tattooideal tattooideal comentarios localizacion ";
  grid-area: pie-de-pagina;
  background-color: #6C1273;
  bottom: 0px;
  height: 200px;
  width: 100%;
  font-size: 20px;

}

.tattooideal { grid-area: tattooideal;
                bottom: 0px;
                text-align: left;
                 }

.tattooideal >p >a{
      font-family: "Ink Free";
      font-weight: bold;
      margin-right: 20px;
      color: black;
       text-align: left;
    }

.enviar{
  margin-bottom: 10px;
}

.comentarios { grid-area: comentarios;
                bottom: 0px;
                text-align: right;
                margin-right: 30px;
                 }

.comentarios >p >a{
      font-family: "Ink Free";
      font-weight: bold;
      color: black;
}

.localizacion { grid-area: localizacion;
                bottom: 0px;
                text-align: right;
                 }

.localizacion >p >a{
      font-family: "Ink Free";
      font-weight: bold;
      margin-right: 20px;
      color: black;

      }

